.git/.MERGE_MSG*
.git/MERGE_MSG
.DS_Store
*/.DS_Store
Build
PhotonGame/Workspace
PhotonGame/Res
PhotonGame/www
PhotonGame/obj*
PhotonGame/Library
PhotonGame/www
PhotonGame/res
PhotonGame/Library*
PhotonGame/Temp
PhotonGame/Temp*
PhotonGame/PlatformProj
PhotonGame/Assets/StreamingAssets/Platform*
PhotonGame/Assets/StreamingAssets/crash_report*
PhotonGame/Assets/StreamingAssets/test_record*
PhotonGame/Assets/StreamingAssets/test_WarEnterData*
PhotonGame/Assets/StreamingAssets/test_*
PhotonGame/Assets/_ZF
PhotonGame/Assets/_Test
PhotonGame/Assets/_temp
PhotonGame/Assets/_*.meta
PhotonGame/PhotonGame.CSharp.Editor.csproj
PhotonGame/PhotonGame.CSharp.csproj
PhotonGame/PhotonGame.sln
PhotonGame/PhotonGame.userprefs
PhotonGame/*.csproj
PhotonGame/*.sln
PhotonGame/*.userprefs